.env
*.env
research_env/
__pycache__/
*.pyc
*.pyo
test_programs/afl_out/
*.o
*.out
codeql/
codeql-bundle-linux64.tar.gz
corpus.db
*.db
*.sqlite
*.sqlite3
.DS_Store
*.bak
linux_env/
corpus.zip
*.zip
*.swp
*.log
scripts/_*.py
results/static_raw/
results/cbmc_out/
results/klee_out/
